.animation-text {
    font-family: monospace;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(24) forwards,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0;}
    to { width: calc(24 * 1ch); }
}